.game-container {
    /* border: 4px solid lightblue; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.gameplay-container {
    /* border: 4px solid orange; */
}

.game-controls-container {
    /* border: 4px solid orange; */
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-stats-container {
    /* border: 4px solid purple; */
}

#canvas-container {
    /* border: 4px solid purple; */
    position: relative;
}


.title {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
    font-size: 80px;
    background-color: cadetblue;
    color: white;
    margin: 0;
}

#canvas {
    outline: 3px solid black;
    margin: 0 auto;
    display: block;
}

.game-info-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.game-stats-container {
    text-align: center;
    color: cadetblue;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;
    grid-column: 1 / -1;
    justify-content: space-between;
    display: flex;
}

#generate-new-maze {
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
}

#generate-new-maze:hover {
    background-color: white;
    color: cadetblue;
    border-color: cadetblue;
}

input {
    width: 40px;
}

.overlay {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.visible {
    display: flex !important;
}

#start-btn {
    border-radius: 5px;
    color: white;
    background-color: cadetblue;
}

#start-btn:hover {
    background-color: white;
    color: cadetblue;
    border-color: cadetblue;
}